/* Details Page Styles */

/* Character Information and Appearance Cards */
.character-info-container .form-group {
	max-width: 250px;
}

/* Allies & Organizations Card Layout */
.allies-org-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1.5rem;
	min-height: 300px;
}

.allies-org-left-col {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 0.75rem;
}

.allies-org-right-col {
	display: flex;
}

.ally-image {
	background-color: var(--secondary-color);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 200px;
}

.ally-info {
	width: 100%;
	padding: 1rem;
	background-color: var(--secondary-color);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	color: var(--text-color);
	line-height: 1.6;
	overflow-y: auto;
}

#allyCustomNotes {
	width: 100%;
	height: 100%;
	resize: none;
}

/* History Card */
.history-card-body {
	padding: 1rem;
	height: 300px;
}

.history-card-body #backstory {
	width: 100%;
	height: 100%;
	resize: none;
}
