<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Tooltip Test Page</h5>
    </div>
    <div class="card-body">
        <div class="tooltip-test-content">
            <h3>Tooltip Reference Tests</h3>

            <div class="reference-group">
                <h4>Classes</h4>
                <p>{@class Fighter|PHB} (PHB)</p>
                <p>{@class Wizard|PHB} (PHB)</p>
                <p>{@class Artificer|TCE} (Tasha's)</p>
                <p>{@class Mystic|UATheMysticClass} (Unearthed Arcana)</p>
            </div>

            <div class="reference-group">
                <h4>Races</h4>
                <p>{@race Dwarf|PHB} (PHB)</p>
                <p>{@race Elf|PHB} (PHB)</p>
                <p>{@race Warforged|ERLW} (Eberron)</p>
                <p>{@race Tabaxi|VOLO} (Volo's)</p>
                <p>{@race Fairy|WBtW} (Wild Beyond the Witchlight)</p>
            </div>

            <div class="reference-group">
                <h4>Items</h4>
                <p>{@item longsword|PHB} (PHB)</p>
                <p>{@item battleaxe|PHB} (PHB)</p>
                <p>{@item leather armor|PHB} (PHB)</p>
                <p>{@item Bag of Holding|DMG} (DMG)</p>
                <p>{@item Ring of Protection|DMG} (DMG)</p>
                <p>{@item Boots of Speed|DMG} (DMG)</p>
                <p>{@item Wand of Fireballs|DMG} (DMG)</p>
            </div>

            <div class="reference-group">
                <h4>Spells</h4>
                <p>{@spell Light|PHB} (PHB)</p>
                <p>{@spell Fireball|PHB} (PHB)</p>
                <p>{@spell Healing Spirit|XGE} (Xanathar's)</p>
                <p>{@spell Silvery Barbs|SCC} (Strixhaven)</p>
                <p>{@spell Mind Sliver|TCE} (Tasha's)</p>
            </div>

            <div class="reference-group">
                <h4>Actions & Conditions</h4>
                <p>{@action Dodge} (PHB)</p>
                <p>{@condition Poisoned|PHB} (PHB)</p>
                <p>{@condition Blinded|PHB} (PHB)</p>
                <p>{@condition Exhaustion|PHB} (PHB)</p>
            </div>

            <div class="reference-group">
                <h4>Character Options</h4>
                <p>{@background Acolyte|PHB} (PHB)</p>
                <p>{@background Soldier|PHB} (PHB)</p>
                <p>{@background Haunted One|CoS} (Curse of Strahd)</p>
                <p>{@feat Alert|PHB} (PHB)</p>
                <p>{@feat Tough|PHB} (PHB)</p>
                <p>{@feat Fey Touched|TCE} (Tasha's)</p>
                <p>{@feat Telekinetic|TCE} (Tasha's)</p>
            </div>

            <div class="reference-group">
                <h4>Skills & Proficiencies</h4>
                <p>{@skill Stealth|PHB} (PHB)</p>
                <p>{@skill Perception|PHB} (PHB)</p>
                <p>{@skill Investigation|PHB} (PHB)</p>
            </div>

            <div class="reference-group">
                <h4>Mixed References</h4>
                <p>A {@race Human|PHB} {@class Fighter|PHB} with {@item longsword|PHB} casts {@spell Light|PHB}.
                </p>
                <p>The {@condition Blinded|PHB} creature cannot see.</p>
            </div>
        </div>
    </div>
</div>
